

body {
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}
#header {
	 height: 100px;
	 padding: 20px;
	 text-align: center;
	 background: #ebebeb;
	 width: 960px;
	 margin: 0 auto;
	 margin-bottom: 10px;
}

#nav {
		align-self: center;
	 	height: 80px;
	  	padding: 20px;
	  	text-align: center;
	  	background: #ebebeb;
	  	width: 960px;
	  	margin: 0 auto;
	  	margin-bottom: 10px;
  }

#section {
	position: absolute;
		float: left;
		height: 300px;
		width: 495px;
	  	padding: 5px;
	  	margin-right: 10px;
	  	margin-bottom: 10px;
		margin-left: 170px;
	  	text-align: center;
	  	background: #ebebeb;
	  	
	  	
  	}
#article {
		
		position: relative;
		margin-right: 10px;
	margin-bottom: 90%; 
	margin-left: 10px; 
	margin-top: 60px; 
		height: 200px; 
		width: span 90%;
		padding: 5px;
	  	text-align: center;
	  	background: #777;
	  	
}
  .horiz {
		text-align: center;
		height: 50px;
		margin-left: 10px; 
		margin-right: 10px; 
		margin-top: 10px; 
		margin-bottom: 10px;
		width: span 90%;
		background: #ebebeb;
		
  }
	#aside {
	
		height: 270px;
		width: 425px;
	  	padding: 20px;
	  	margin-bottom: 20px;
	  	text-align: center;
	  	background: #ebebeb;
	  	margin-left: 700px;
}


#footer {
		clear: both;
		height: 100px;
	  padding: 20px;
	  margin-bottom: 20px;
	  text-align: center;
	  background: #ebebeb;
	  width: 960px;
	  margin: 0 auto;

}